<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alidao.dal.dao.PostMapper">
    <select id="selectPost" resultType="top.alidao.dal.pojo.PostInfoV" parameterType="top.alidao.request.PostRequest">
        select *
        from post_info_v
    </select>
    <select id="selectCategory" resultType="top.alidao.dal.pojo.CategoryV">
        SELECT *
        FROM category_v
    </select>
    <select id="selectTag" resultType="top.alidao.dal.pojo.TagV">
        SELECT *
        FROM tag_v
    </select>
    <insert id="insertCategory"  useGeneratedKeys="true" keyProperty="id" >
        insert into category(name)
        values (#{name})
    </insert>
    <insert id="insertTag" useGeneratedKeys="true" keyProperty="id" >
        insert into tag(name)
        values (#{name})
    </insert>
    <insert id="insertPost" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO post(title,author,content,category_id)
        VALUES (#{title},#{author},#{content},#{categoryID})
    </insert>
    <insert id="insertRelation">
        INSERT INTO relation_ship(post_id,tag_id)
        VALUES
        <foreach collection="tagIDs" item="tagID" separator="," index="index">
            (#{id},#{tagID})
        </foreach>
    </insert>
</mapper>